.z-inset-box-shadow {
  position: relative;
}

.z-inset-box-shadow::before {
  --at-apply: shadow;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
  border-radius: inherit;
}

.the-progress {
  --progress-value: 50%;
  --progress-color: hsl(var(--my-c-primary-hsl) / 25%);
  position: relative;
}

.the-progress>*{
  z-index: 1;
}

.the-progress::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: var(--progress-value);
  height: 100%;
  background-color: var(--progress-color);
  --at-apply: transition-width;
}
