@import './common.css';
@import './theme.css';
@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--my-c-white);
}

html.dark {
  color-scheme: dark;
}

html {
  scrollbar-color: hsl(var(--my-c-primary-hsl) / 67%) hsl(var(--my-c-primary-hsl) / 20%);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--my-c-primary-hsl) / 60%);
  border-radius: 4px;
  --at-apply: my-shadow;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--my-c-primary-hsl) / 20%);
  border-radius: 4px;
  --at-apply: my-shadow;
}


#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--my-c-primary);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

code, kbd, samp, pre, .font-mono-pro {
  --un-prose-font-mono: "DM Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",system-ui,ui-monospace,monospace;
  font-family: var(--un-prose-font-mono);
}
