.prose pre:not(.shiki) {
  padding: 0;
  overflow: unset;
}

.prose .shiki {
  font-family: 'DM Mono', monospace;
  font-size: 1.2em;
  line-height: 1.4;
}

.prose img {
  width: 100%;
}

.prose a {
  color: var(--my-c-primary);
  text-decoration: none;
  --at-apply: transition-color;
}

.shiki-light, .shiki-dark {
  --at-apply: shadow;
  background: var(--my-box-bg) !important;
  overflow-x: auto;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}
