:root {
  /* color */
  --my-c-primary-hue: 255;
  --my-c-primary-saturation: 50%;
  --my-c-primary-lightness: 63%;
  --my-c-primary-alpha: 100%;
  --my-c-primary: hsl(var(--my-c-primary-hue) var(--my-c-primary-saturation) var(--my-c-primary-lightness) / var(--my-c-primary-alpha, 100%));
  --my-c-primary-hsl: var(--my-c-primary-hue) var(--my-c-primary-saturation) var(--my-c-primary-lightness);
  --my-c-success-hue: 111;
  --my-c-success-saturation: var(--my-c-primary-saturation);
  --my-c-success-lightness: var(--my-c-primary-lightness);
  --my-c-success-alpha: var(--my-c-primary-alpha);
  --my-c-success: hsl(var(--my-c-success-hue) var(--my-c-success-saturation) var(--my-c-success-lightness) / var(--my-c-success-alpha, 100%));
  --my-c-success-hsl: var(--my-c-success-hue) var(--my-c-success-saturation) var(--my-c-success-lightness);
  --my-c-warning-hue: 30;
  --my-c-warning-saturation: var(--my-c-primary-saturation);
  --my-c-warning-lightness: var(--my-c-primary-lightness);
  --my-c-warning-alpha: var(--my-c-primary-alpha);
  --my-c-warning: hsl(var(--my-c-warning-hue) var(--my-c-warning-saturation) var(--my-c-warning-lightness) / var(--my-c-warning-alpha, 100%));
  --my-c-warning-hsl: var(--my-c-warning-hue) var(--my-c-warning-saturation) var(--my-c-warning-lightness);
  /* theme */
  --my-c-white: #ffffff;
  --my-c-white-rgb: 255, 255, 255;
  --my-c-black: #252526;
  --my-c-black-rgb: 37, 37, 38;
  --my-box-bg: #f8f8f8;
  --my-box-backdrop-filter: none;
  --my-box-shadow: inset 0 1px 4px 0 rgba(15, 15, 15, 0.2),
    inset 0 1px 2px -1px rgba(15, 15, 15, 0.1);
  --my-input-bg: #f0f0f0;
  --my-input-shadow: var(--my-box-shadow);
  --my-input-border: none;
  --my-input-focus-border: none;
  --my-rounded: 8px;
  --my-btn-rounded: 4px;
  --my-icon-btn-padding: 0;
  --my-icon-btn-shadow: none;
  --my-icon-btn-shadow-active: none;
  --my-thumb-box-shadow: var(--my-box-shadow);
  --my-track-box-shadow: var(--my-box-shadow);
}

:root.dark {
  --my-c-primary-lightness: 50%;
  --my-c-white: #252526;
  --my-c-white-rgb: 37, 37, 38;
  --my-c-black: #ffffff;
  --my-c-black-rgb: 255, 255, 255;
  --my-box-bg: #151515;
  --my-box-shadow: inset 0 1px 5px 0 rgba(0, 0, 2, 0.6),
  inset 0 1px 2px -1px rgba(0, 0, 2, 0.2);
  --my-input-bg: #050505;
}

:root[theme="uno"] {
  --my-c-white: #ffffff;
  --my-c-white-rgb: 255, 255, 255;
  --my-c-black: #151515;
  --my-c-black-rgb: 21, 21, 21;
  --my-box-bg: #ffffffb0;
  --my-box-backdrop-filter: blur(6px);
  --my-box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgba(0,0,0,0.1)),var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgba(0,0,0,0.1));
  --my-input-bg: transparent;
  --my-input-shadow: none;
  --my-input-border: 1px solid #6b72801a;
  --my-input-focus-border: hsl(var(--my-c-primary-hsl) / 50%);
  --my-rounded: 4px;
  --my-icon-btn-padding: 0;
  --my-btn-rounded: 4px;
  --my-icon-btn-shadow: none;
  --my-icon-btn-shadow-active: none;
  --my-thumb-box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgba(0,0,0,0.1)),var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgba(0,0,0,0.1));;
  --my-track-box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), inset 0 1px 3px 0 var(--un-shadow-color, rgba(0,0,0,0.1)),inset 0 1px 2px -1px var(--un-shadow-color, rgba(0,0,0,0.1));;
}

:root.dark[theme="uno"] {
  --my-c-white: #151515;
  --my-c-white-rgb: 21, 21, 21;
  --my-c-black: #ffffff;
  --my-c-black-rgb: 255, 255, 255;
  --my-box-bg: #151515b0;
}
:root[theme="neumorphism"] {
  --my-c-white: #e0e0e0;
  --my-c-white-rgb: 224, 224, 224;
  --my-c-black: #1D1F21;
  --my-c-black-rgb: 29, 31, 33;
  --my-box-bg: #e0e0e080;
  --my-box-backdrop-filter: blur(50px);
  --my-box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
  --my-input-bg: transparent;
  --my-input-shadow: inset 5px 5px 15px #bebebe, inset -5px -5px 15px #ffffff;
  --my-input-border: none;
  --my-input-focus-border: none;
  --my-rounded: 50px;
  --my-icon-btn-padding: 4px;
  --my-btn-rounded: 50px;
  --my-icon-btn-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  --my-icon-btn-shadow-active: inset 5px 5px 15px #bebebe, inset -5px -5px 15px #ffffff;
  --my-thumb-box-shadow: var(--my-icon-btn-shadow);
  --my-track-box-shadow: var(--my-icon-btn-shadow-active);
}

:root.dark[theme="neumorphism"] {
  --my-c-white: #1D1F21;
  --my-c-white-rgb: 29, 31, 33;
  --my-c-black: #e0e0e0;
  --my-c-black-rgb: 224, 224, 224;
  --my-box-bg: #1D1F2180;
  --my-box-shadow: 10px 10px 30px #191a1c, -10px -10px 30px #212426;
  --my-input-shadow: inset 5px 5px 15px #191a1c, inset -5px -5px 15px #212426;
  --my-icon-btn-shadow: 5px 5px 15px #191a1c, -5px -5px 15px #191a1c;
  --my-icon-btn-shadow-active: inset 5px 5px 15px #191a1c, inset -5px -5px 15px #191a1c;
}

.my-input {
  background-color: var(--my-input-bg);
  box-shadow: var(--my-input-shadow);
  border: var(--my-input-border);
}

.my-input:focus {
  border: var(--my-input-focus-border);
}

.my-icon-btn {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  opacity: 0.75;
  transition: padding 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--my-btn-rounded, 2px);
  box-shadow: var(--my-icon-btn-shadow);
  padding: var(--my-icon-btn-padding);
}

:root[theme="neumorphism"] .my-icon-btn {
  background: var(--my-box-bg);
  backdrop-filter: var(--my-box-backdrop-filter);
}

.my-icon-btn:hover {
  opacity: 1;
  color: hsl(var(--my-c-primary-hsl) / 90%);
}

.my-icon-btn:active {
  box-shadow: var(--my-icon-btn-shadow-active);
  color: hsl(var(--my-c-primary-hue) var(--my-c-primary-saturation) calc(var(--my-c-primary-lightness) - 10%))
}
